@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f6ed38;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f6ed38;
  padding: 20px;
  box-shadow: 3px 9px 21px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 3px 9px 21px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 3px 9px 21px 0px rgba(0, 0, 0, 0.52);
  margin: 0 auto;
  z-index: 1;
}
header nav img {
  width: 100px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  margin-left: 20px;
}
header nav ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
header nav ul li a:hover {
  text-decoration: underline;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1400px;
  z-index: 10;
}

.fixed + .main-content {
  padding-top: 150px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px 0;
}
@media screen and (max-width: 870px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
.banner .banner__text-container {
  margin-left: 20px;
}
@media screen and (max-width: 870px) {
  .banner .banner__text-container {
    margin-left: 0;
    text-align: center;
  }
}
.banner .banner__text-container h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}
.banner .banner__text-container p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.banner .banner__text-container__container-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
@media screen and (max-width: 870px) {
  .banner .banner__text-container__container-links {
    justify-content: center;
  }
}
.banner .banner__text-container__container-links .link-1 {
  text-decoration: none;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: #f7f7ff;
  background: #070600;
}
.banner .banner__text-container__container-links .link-1:hover {
  transform: scale(1.1);
}
.banner .banner__text-container__container-links .link-2 {
  text-decoration: none;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: #070600;
  border: 1px solid #070600;
}
.banner .banner__text-container__container-links .link-2:hover {
  text-decoration: underline;
}

.banner-container-img .banner__img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  flex: 1;
  flex-direction: row-reverse;
}
@media screen and (max-width: 870px) {
  .nosotros {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
.nosotros div {
  margin-left: 20px;
  width: 50%;
}
@media screen and (max-width: 870px) {
  .nosotros div {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }
}
.nosotros div h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}
.nosotros div p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media screen and (max-width: 870px) {
  .nosotros div p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 870px) {
  .nosotros .nosotros_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
}
.nosotros .nosotros_img img {
  width: 100%;
  max-width: 300px;
  display: block;
  object-fit: cover;
}

.contacto {
  margin-top: 100px;
  padding: 100px 20px;
}
.contacto h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
.contacto .contacto__form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
.contacto .contacto__form-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #070600;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contacto .contacto__form-container input:focus {
  outline: none;
}
.contacto .contacto__form-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #070600;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  max-width: 500px;
}
.contacto .contacto__form-container textarea:focus {
  outline: none;
}
.contacto .contacto__form-container .contacto__container-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contacto .contacto__form-container .contacto__container-input input {
  text-decoration: none;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: #f7f7ff;
  background: #070600;
  width: 100%;
  font-size: 20px;
  max-width: 500px;
  cursor: pointer;
}

footer {
  background: #070600;
  padding: 20px;
}
footer .footer__text {
  text-align: center;
  color: #f7f7ff;
}

/*# sourceMappingURL=styles.css.map */
