@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin link {
  text-decoration: none;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
