@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:wght@400;500;700;900&display=swap');

$font-family-base: 'Roboto', sans-serif;
$color-yellow: #f6ed38;
$color-black-font: #000000;
$color-black-font-light: #070600;
$color-white: #f7f7ff;
